*{
	margin: 0;
	padding: 0;
}
/*con1*/
.con1,
.cont2,
.cont3,
.cont4,
.cont1Choice{
	border-bottom: 1px solid #009843;
}
.cont2,
.cont3{
	padding: 10px 5px 5px 45px;
}
.c1mTable{
	padding: 5px 0;
	margin: 0 20px;
	width: 1030px;
}
.c1mTable tr td{
	padding: 5px 0;
}
.con1_main span{
	float: left;
}
.c1mChanger{
	width: 120px;
	height: 30px;
	padding-left: 25px;
}
.c1mChanger ul{
	width:120px;
	height: 25px;
}
.c1mChanger ul li{
	display: inline-block;
	text-align: center;
	line-height: 25px;
	float: left; 
	list-style: none;
	padding: 0 5px;
	
}
.c1mChanger ul li:first-child{
	border: 1px solid #009843;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-right: none;
}
.c1mChanger ul li:last-child{
	border: 1px solid #009843;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background: #009843;
}
.c1mChanger ul li:last-child a{
	color: #FFF !important;
}
.c1mTableul{
	background: #EEEEEE;
	border-radius: 5px;
}
.c1mTableul li{
	display: inline-block;
	padding:0 5px;
}
/*类别选择左边距*/
.c1mTleft{
	padding-left: 25px;
}

/*展现侧重*/
.cont1Choice{
	padding:10px 45px;
}
.cont1Choice fieldset:first-child{
	margin-bottom: 10px;
}
.Choiceright{
	margin-left: 50px;
}

/*cont2*/
.cont2Table {
	margin: 10px 0 5px 0;
}
.cont2Table tr:first-child{
	background: #EEEEEE;
}
.cont2Table td{
	text-align: center;
	padding: 3px 0;
}
/*cont3*/
.cont3{
	position: relative;
}
.cont3Ul{
	margin: 5px 0;
}
.cont3Ul:first-child{
	margin-top: 10px;
}
.cont3Ul input[type=date]{
	width: 110px;
}
.cont3Ul li{
	display: inline-block;
	width: 47%;
}
.cont3Box{
	margin: 5px 0 5px 20px;
	padding:10px 0 10px 10px;
	background: #EEEEEE;
	border-radius:5px;
}
.cont3Box ul li{
	display: inline-block;
	padding: 5px;
}
.cont3Space{
	margin-top: 5px;
}
.cont3Ultwo{
	margin: 10px 0 5px 25px;
}
.cont3Ultwo ul li{
	padding: 5px 10px;
	display: inline-block;
}

/*cont4*/
.con8{
	border-bottom:none;
}

/*交易类型*/
.cx3Box{
	padding-left: 30px;
}
/*c4设置单位*/
/*con4*/

.cv1one .c4Ul:nth-of-type(2){
	padding-left: 50px;
	margin:5px 0;
}
.cv1one .c4Ul:last-child{
	padding-left: 35px;
	margin:5px 0;
}
.c4Ul:first-child{
	margin-left: ;
	padding-left: 20px;
	background:url(../img/key2.png)no-repeat left center;
}
.c4Ul li{
	padding-left: 25px;
	display: inline-block;
}
.c4Ul li:first-child{
	padding-left: 0;
}
/*设置单位*/
.con4 .cv1{
	margin:5px 0 5px 29px;
}
/*服务规格*/
.con4 .cv1one{
	margin-left: 25px;
}
/*商品SKU列表*/
#cont4Unit{
	position: relative;
}
.cv21{
	font-size: 14px;
	border: 1px solid #999999;
	position:absolute;
	top:145px;
	left:0;
	z-index: 100;
	background: #FFFFFF;
}
.cv21Ul1{
	padding-left: 5px;
	border-bottom: 1px solid #EEE;
}
.cv21List .cv21Ul1{
	background: #EEEEEE;
	border-bottom:1px solid #999;
}

.cv21Ul1 img{
	vertical-align: middle;
}

.cv21Ul1 li{
	display: inline-block;
	text-align: center;
	padding: 2px 5px;
	text-align: left;
}

.cv21Ul1 li:first-child{
	width:50px !important;
}
.cv21Ul1 li:nth-of-type(2){
	width: 100px !important;
}
.cv21Ul1 li:nth-of-type(3),
.cv21Ul1 li:nth-of-type(4),
.cv21Ul1 li:nth-of-type(5),
.cv21Ul1 li:nth-of-type(6){
	width:80px !important;
}
.cv21Ul1 li:nth-of-type(7){
	width: 135px !important;
}
.cv21Ul1 li:nth-of-type(8){
	width:160px !important;
}
.cv21Ul1 li:nth-of-type(9){
	width:160px !important;
}
.cv21List .cv21Ul1 li input{
	border:1px solid #999;
	border-radius: 5px;
	height: 16px;
	padding: 0 2px;
}
.cv21Ul1 .li50px{
	width:35px;
}
.cv21Ul1 .li120px{
	width: 120px;
}
.cv21Ul1 li:first-child{
	padding: 0 0 0 10px;
}
.cv21Ltitle .cv21Ul1 input{
	border: 1px solid #999;
	border-radius: 5px;
}

.cv21Ul1 li:nth-of-type(2){
	padding-left: 0;
}
.cv2li150px{
	width: 150px !important;
}
.cv21Ul1 input{
	height: 16px;
	padding: 0 2px;
}
.cv21Img{
    top: 0;
    left: 0;
}


/*cv3总库存*/
.con4 .cv3{
	margin:10px 0 10px 29px;
	padding-left: 16px;
}
/*cv4换算设置*/
.con4 .cv4{
	margin:10px 0 0 29px;
	padding-left: 16px;
}
/*cont5包装配置*/
.cont5{border-bottom: 1px solid #009843;
	  padding:10px 5px 5px 25px ;
}
.cont5 fieldset{
	padding-top: 5px;
	padding-bottom: 5px;
}
.ct5two,
.ct5three{
	padding-left: 20px;
}
.ct5one .ct5oneBox{
	margin-left: 60px;
}
.ct5oneBox .ct51s{
	padding: 0 6px;
	border-radius: 10px;
	background: #999;
	color: #FFFFFF;
}
.ct5oneBox p,
.ct5oneBox .ct51Ul{
	padding: 5px 0;
}
.ct5oneBox .ct51Ul{
	background: #EEEEEE;
	padding: 5px 10px;
	border-radius:5px;
}
.ct5oneBox .ct51Ul li{
	display: inline-block;
	padding: 0 10px;
}
